@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    chaura village sector 22<br />
    Noida, U.P. 201301<br />
    <abbr title="Phone">Phone:</abbr>
    9910774390
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">sraj0726@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">vk74456@gmail.com</a>
</address>