################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/employee/.vs/employee/v16
/employee/employee/obj/Debug
/Firstproject/.vs/Firstproject/v16
/Firstproject/Firstproject/bin
/Firstproject/Firstproject/obj/Debug
/Firstproject/packages
/Firstproject/.vs/Firstproject/config
